
$dorado: #BF9000;

.contacto-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: $dorado;
}

.btn-cerrar{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 20px;
    .cerrar-icon{
        font-size: 30px;
        font-weight: 100;
        cursor: pointer;
        color: white;
    }
}

.contacto-content{
    color: white;
    font-weight: 300;
    display: flex;
    height: 80%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    span{
        overflow: hidden;
    }
    .pregunta{
        font-size: 25px;
        margin-bottom: 30px;
        font-weight: 200;
    }
    .contacto-input-text{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba($color: white, $alpha: 0.8);
        color: white;
        font-size: 20px;
        font-weight: 200;
        width: 100%;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .contacto-input-text::placeholder{
        color: rgba($color: white, $alpha: 0.6);
        font-weight: 300;
    }
    .contacto-input-text:focus{
        outline: none;
        border-bottom: 2px solid rgba($color: white, $alpha: 0.8);
    }
    .btn-siguiente{
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        .btn-siguiente-span{
            border: 2px solid white;
            border-radius: 50%;
            padding: 10px;
            font-size: 25px;
            cursor: pointer;
        }
        .btn-siguiente-span:hover{
            background-color: white;
            color: $dorado;
        }
    }
    .siguiente-anterior{
        justify-content: space-between;
    }
    .opciones-container{
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin-bottom: 10px;
        .opcion{
            border: 1px solid white;
            color: white;
            padding: 10px;
            margin-bottom: 20px;
            cursor: pointer;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            i{
                font-size: 20px;
            }
        }
        .opcion:hover{
            background-color: white;
            color: $dorado;
        }
    }
}