.container{
    // background-color: green;
    .wrapper{
        // background-color: greenyellow;
        .home{
            
            .content{
                position: absolute;
                top: 350px;
                width: 700px;
                font-style: normal;
                font-weight: normal;
                font-size: 60px;
                line-height: 90px;        
                .bottom-line{                    
                    font-size: 20px;
                    
                    text-align: center;
                    line-height: 40px; 
                    .line{                        
                        width: 500px;   
                        float: left;
                        border-bottom: 2px solid black;  
                        position: absolute;
                        bottom: 0;
                    }
                    .contact{                                        
                        width: 190px;   
                        float: right;                                  
                        border-bottom: 2px solid black;                                             
                    }

                }        
                
            }
            
            
        }
    }
}