

.serviciosMain{
  
    display: flex;
    flex-flow: column nowrap;
    //Prueba
    height: 130vh;    
    background-color:darksalmon;  

}


//////////////Titulo/////////////////////////////////////////

.serviciosTitulo{

    font-size: 90px;
    font-weight: 600;
    //Prueba
    margin: 10px;    
    background-color: darkviolet;
}


//////////////Contenido//////////////////////////////////////

.serviciosContenido{

    display: flex;
    flex-flow: column wrap;
    //Prueba
    background-color: brown;
    .serviciosItem{

        //Prueba
        margin: 10px;
        height: 50px;
        background-color: deeppink;
    }
}

//////////////Quote/////////////////////////////////////////


.serviciosQuote{
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    //Prueba
    height: 400px;
    background-color: cornflowerblue;
    .serviciosQuoteItem{

        //Prueba
        background-color:forestgreen;
    }
}